<form
  method="POST" action="/images/{% if images.id %}{{ images.id }}{% endif %}"
>
<!-- The above line specifies the URL to which the form data should be submitted. The "{% if images.id %}{{ images.id }}{% endif %}" code block is a conditional statement that checks if the "image.id" variable is defined, and if so, it includes it in the URL. -->
  {% if images.id %}
  <input type="hidden" name="id" value="{{ images.id }}" />
  {% endif %}
<!-- The code above creates a hidden input field named "id" and sets its value to the value of the "image.id" variable. This is used to identify the image being edited when the form is submitted. -->
<div>
  <label>Variant: </label>
  <select name="variantId">
    {% for variants in variants %}
    <option value="{{ variants.id}}">{{ variants.title }}</option>
    {% endfor %}
  </select>
</div>
  <div>
    <input type="submit" value="Submit" name="submit" aria-label="Submit" />
  </div>
</form>