{% extends 'layouts/base.twig' %} 

{% block main_content %}
<h2>About {{ products.title }}</h2>
<ul>
  <li>
    <label>ID: </label> {{ products.id }}
    <label>Name: </label> {{ products.title }}
    <label>Slug: </label> {{ products.slug }}
    <label>Price: </label> ${{ products.price }}
    <label>Is Published: </label> {{ products.is_published ? 'Yes' : 'No' }}
    <ul>
      <li>
        <label>Description: </label> {{ products.description | raw }}
      </li>
    </ul>
  </li>
</ul>
<p>
  <a href="/products/{{ products.id }}/edit">Edit</a> |
  <a href="/products/{{ products.id }}/delete">delete</a>
</p>
{% endblock %}
